# Общие исключения для всего монорепозитория
.DS_Store
.idea/
.vscode/
.windsurf/
memory-bank/

# Логи и секретные ключи
*.log
functions/firestore-debug.log
functions/shared/serviceAccountKey.json
functions/firebase-debug.log
*-debug.log
# Игнорировать пользовательские файлы Xcode
*.xcuserstate
*.xcworkspace
*.xcuserdata/
DerivedData/
Pods/
frontend/EasyTalkProject/EasyTalkProjectTests/
frontend/EasyTalkProject/EasyTalkProjectUITests/
