# Общие исключения для всего монорепозитория
.DS_Store
.idea/
.vscode/
# Игнорировать пользовательские файлы Xcode
*.xcuserstate
*.xcworkspace
*.xcuserdata/
DerivedData/
Pods/
frontend/EasyTalkProject/EasyTalkProjectTests/
frontend/EasyTalkProject/EasyTalkProjectUITests/
frontend/EasyTalkProject/EasyTalkProject.xcodeproj
